

@{
    ViewBag.Title = "Home Page";
}

<h2>HighCharts Testing</h2>

<div id="container" style="width:100%; height:400px;"></div>

@section scripts{
    @*you have to import the highcharts libraries; later you can download the libraries and just reference min.js
        files in the content directory; ~/Content/library/plugins...etc*@

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/javascript/pages/highChartPage.js")"></script>
}