@section scripts{
    @*you have to import the highcharts libraries; later you can download the libraries and just reference min.js
        files in the content directory; ~/Content/library/plugins...etc*@

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/javascript/highcharts/linegraph.js")"></script>
}

@{
    ViewBag.Title = "Home Page";
}

@*@string.Join(Averages, ",")*@

<h2>HighCharts Testing</h2>

<div id="container" style="width:100%; height:400px;"></div>

<script type="text/javascript">

    //var dataArray = new JavaScriptSerializer().Serialize(energyArray);
    //var series = [{
    //    name: 'Tokyo',
    //    data: dataArray
    //}];

     $(document).ready(function() {
         $("#buttonSubmit").click(function() {
             $("#Panel1").animate(
            {
                width: "350px",
                opacity: 0.5,
                fontSize: "16px"
            }, 1800);
         });
     });

     $(function () {
         $('#container').highcharts({
             chart: {
                 type: 'bar'
             },
             title: {
                 text: 'Fruit Consumption'
             },
             xAxis: {
                 categories: ['Apples', 'Bananas', 'Oranges']
             },
             yAxis: {
                 title: {
                     text: 'Fruit eaten'
                 }
             },
             series: [{
                 name: 'Jane',
                 data: [1]

             }, {
                 name: 'John',
                 data: [5, 7, 3]
             }],
         });
     });

     var chart1; // globally available
     $(function () {
         chart1 = new Highcharts.StockChart({
             chart: {
                 renderTo: 'container'
             },
             rangeSelector: {
                 selected: 1
             },
             series: [{
                 name: 'USD to EUR',
                 data: usdtoeur // predefined JavaScript array
             }]
         });
     });

</script>
